body{
    background-color: violet;
}
.container{
   
    display: flex;
 
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
.container2{
     background-color: whitesmoke;
     width: 400px;
     height: 450px;
     border-radius: 20px;
    
}
form {
    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
form label,input{
    margin-bottom: 10px;
    width:85%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}
button{
    border: none;
    margin: 20px;
    padding:15px;
    background-color: plum;
    color: whitesmoke;
    font-size: 25px;
}
.error{
    color: red;
}